@font-face {
	font-family: zurich;
	src: url(zurich.woff2);
}

* {
	display: flex;
	font-family: zurich, Arial;
}

body {
	flex-flow: column;
	line-height: 1.8rem;
	font-size: 18px;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	min-width: 460px;
}

header {
	flex-flow: row nowrap;
	height: 150px;
	margin-bottom: 40px;
}

#logo, #logo2 {
	position: relative;
	top: 50%;
	margin: 0 30px;
}

#logo2 {
	display: none;
}

#align_nav {
	width: 100%;
	align-items: flex-end;
	border-bottom: 3px solid #4066B3;
}

#nav {
	flex-flow: row wrap;
	width: 100%;
	height: 40px;
	justify-content: space-around;
	margin: 20px;
}

#nav a {
	line-height: 1.2rem;
	color: #4066B3;
}

a:hover {
	text-decoration: underline;
}

#insurance p {
	padding: 0px 10px;
}
main, #insurance {
	flex-flow: column nowrap;
}

#car_pic {
	width: 100%;
	height: 300px;
	background-image: 	url("images/car.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20% 50%, center; 
}

#team {
	flex-flow: column nowrap;
}

#team_description {
	flex-flow: column nowrap;
	margin: 10px 0px;
}

#pictures {
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
}

h1 {
	color: #706964;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: black;
}

.people {
	flex-flow: column nowrap;
	width: 20%;
	width: 20%;
	align-items: center;
}

.people img { 
 	width: 100%;
 	margin: 10px;
}

.people p {
	margin: 5px;
}

#insurance {
	text-align: center;
	align-items: center;
}

#click {
	background-color: #706964;
	padding: 10px 40px; 
	width: 150px;
	border-radius: 15px;
	color: white;
	text-align: center;
	margin: 30px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#calculator_form, #result_div, #offers, #click {
	justify-content: center;
}

#result_div {
	margin: 30px;
	border-radius: 15px;
}

form {
	flex-flow: column nowrap;
	padding: 40px 60px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #F2F0EE;
	width: 40%;
}

footer {
	height: 150px;
	background-color: #DADADA;
	justify-content: center; /*aliniacion horizontal*/
	align-items: center; /*aliniacion vertical*/
}

@media only screen and (max-width: 800px) {
	#nav a {
		font-size: 15px
	}

	#align-nav	{
		padding-top: 100px;
	}

	#click {
		width: 150px;
	}
}

@media only screen and (max-width: 700px) {
	header {
		flex-flow: column wrap;
		justify-content: space-between;
		width: 100%;
	}

	#nav a {
		font-size: 14px;
	}

	#logo2 {
		display: block;
		width: 130px;
		position: relative;
		top: 30px;
		left: 35%;
	}

	#logo {
		display: none;
	}

	.people {
		font-size: 0.9rem;
	}

}

@media only screen and (max-width: 600px) {
	body {
		margin: 5px 0px;
	}

	h1 {
		font-size: 1.5rem;
	}

	#logo2 {
		left: 30%;
	}

	#align-nav	{
		padding-top: 100px;
	}

	.people {
		font-size: 0.75rem;
	}

}	



